body {
    background-color: #fafafa;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.8);
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

p {
    font-size: 21px;
    line-height: 1.58;
}

a:hover {
    color: rgba(0,0,0,.6);
}

.wrap {
    margin: auto;
    padding: 30px;
    max-width: 740px;
}

.fp-link {
    font-size: 40px;
    margin: 30px;
    display: inline;
    font-weight: 400;
}

.content-desktop {
    text-align: center;
    margin-top: 260px;
    display: block;
}

.content-mobile {
    display: none;
    text-align: center;
}

.content-404 {
    margin-top: 0px;
}

#fp-outer-span {
    position: relative;
}

.title-header {
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: rgba(0,0,0,.8);
    margin-top: -150px;
}

.title-header-mobile {
    position: relative !important;
    margin: 30px !important;
    margin-bottom: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: rgba(0,0,0,.8);
}

.title-header-404 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 100px !important;
    margin-bottom: 50px !important;
    position: relative !important;
}

@media screen and (max-width: 1150px) {
    .fp-link { 
        display: block;
    }
    
    .content-desktop {
        display: none;
    }
    
    .content-mobile {
        display: block;
    }
}
