---
permalink: /
---
{% include header.html %}

<body>
    <div class="index-header">
        Kevin Neumann
    </div>
    <div class="index-links">
        <a href="/about">About</a>
        <br>
        <a class="icon fa fa-linkedin" href="https://www.linkedin.com/in/kevin-neumann-392a148a"></a>
        <a class="icon fa fa-instagram" href="https://www.instagram.com/neumee500/"></a>
        <a class="icon fa fa-github" href="https://github.com/neumannk"></a>
        <br><br>
        <a class="email" href="mailto:kevin@kneumann.org">kevin@kneumann.org</a>
    </div>
</body>

{% include footer.html %}