---
title: Kevin Neumann
permalink: /
---
{% include header.html %}

<body>
    <div class="content-desktop">
        <span id="fp-outer-span">
            <span class="title-header">
                Kevin Neumann
            </span>
            
            {% include fp-links.html %}
            
        </span>
    </div>
    
    <div class="content-mobile">
        <div class="title-header title-header-mobile">
            Kevin Neumann
        </div>
        
        {% include fp-links.html %}
        
    </div>
</body>

{% include footer.html %}